/**
 * General styles for the Demo Application.
 */

 html, body {
     width: 100%;
     height: 100%;
 }

.gameView {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;

    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}
