/**
 * Styles for the Graphics Stat Panel.
 */

@mixin uiPanel() {
    background-color: #333333;
    border: 1px solid #ADADAD;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    z-index: 1000;
}

.gameStats-graphics {
    @include uiPanel();
}
